body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

nav{
    background-color: rgb(255, 207, 48);
    color:#fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 20%;
    height: 20%;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
}

nav div ul {
    display: flex;
}

nav div ul li {
    list-style: none;
}

nav div ul li a {
    font-weight: 700;
    text-decoration: none;
    padding: 0px 20px;
    color: #333;
}

nav div ul li a:hover {
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px
rgba(0, 0, 0, 0.1);
}

.section-titel {
    font-size: 28px;
    margin-bottom: 20px;
}

.li{
    font-size: 4px;
    margin-bottom: 20px;
}